body, p, ul, h1, h4 {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  width: 50vw;
  padding-left: 20px;
}

button {
  position: relative;
  left: 20px;
}

input {
  position: relative;
  left: 20px;
  width:150px;
}

ul {
  text-align: left;
  width: 50vw;
  padding-left: 40px;
}

div {
  padding-top:10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display:none;
}
